<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="test-data.ZPM">
    <Module>
      <Name>test-data</Name>
      <Version>1.0.2</Version>
      <Description>test-data</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Demo.RecordMap.PKG"/>
      <Resource Name="dc.iris.PKG"/>
      <Resource Name="dc.python.PKG"/>
      <FileCopy Name="python/" Target="${mgrdir}python/"/>
      <FileCopy Name="data/" Target="${mgrdir}data/"/>
    </Module>
  </Document>
</Export>
